@import "tailwindcss";


@theme {
  --color-brand: #32de84; /* custom brand color */
  --breakpoint-desktop: 1024px; /* custom breakpoint */
  --font-heading: "Poppins", sans-serif;
}


body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
